@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}
body.imgback{
    width: 100%;
    height: 100vh;
   background-size: cover;
   background-color: rgb(27, 5, 27) ;
    background-position: center;
    
}


.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),  rgb(27, 5, 27));
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}


header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
    color: #1b7e44;
   
    
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: #fff;
    font-size: 12px;
}

.cabeçalho-link a:hover{
    color:  #2ecc71;
    transition: 0.3s all;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}


button{
    color: #2ecc71;
    background: transparent;
    border:solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
    margin-top: 30px;
}

button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}


    .container-text {
        padding: 150px 20px 0 130px; /* Ajuste do padding */
        display: flex;
        justify-content: flex-end; /* Alinha os itens ao final do contêiner (direita) */
        align-items: center; /* Centraliza verticalmente */
    }


.text h3{
    color: #fff;
    font-size: 1.5rem;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: #1b7e44; 
}
.text {
    flex: 1; /* Para ocupar o espaço disponível */
    padding-right: 200px; /* Espaço à direita */
}
.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 0.8rem;
    flex: 1;
}
.pixel-art {
     /* Move a imagem para a direita */ /* Adiciona um espaço à direita da imagem *//* Não permite que a imagem diminua de tamanho */
    width: 400px; /* Ajusta o tamanho da imagem, se necessário */
}
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.swing {
    animation: swing 3s ease-in-out infinite;
}
.redes-social{
    margin-top: 10px;
    margin-left: 20px;
}

.redes-social a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 15px;
}
.imagenss{
    text-align: center;
    justify-content: space-evenly;

}
.img1{
    width: 40%;
    height: 220px;
    border: solid 2px black ;
    
}
.h1{
  font-size: 3rem;
  margin-bottom: 20px;
}

@media screen and (max-width:700px){
    .img1{
       width: 70%;
       height: 254px;
       scroll-behavior: auto;
    }
    .logo {
        display:none ;
    } 

.redes-social a{
    color: black;
}
button{
    color: #000000;
    background: transparent;
    border:solid 1px #030303;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}
.botao1{
    
    color: #2ecc71;
    background: transparent;
    border:solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}
}
#sobremim{
    background-color: rgb(27, 5, 27);
    display: flex;
}
.conteudo {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    gap: 20px; /* Espaçamento entre os elementos */
}
#textosobremim{
    display: flex; /* Alterado para flex */
     align-items: center; /* Centraliza o conteúdo verticalmente */
    background-color: rgb(27, 5, 27);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 00px;
    transition: opacity 0.5s ease, left 1s ease;
    font-size: 120%;
    
    
    }

    #textosobremim.aparecer {
        opacity: 1;
     
    }
    #hab{
        display: flex; /* Alterado para flex */
        align-items: center; /* Centraliza o conteúdo verticalmente */
       background-color: rgb(27, 5, 27);
       color: white;
       padding: 20px;
       border-radius: 10px;
       transition: opacity 0.5s ease, left 1s ease;
       right: 20px;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centraliza as habilidades horizontalmente */
        gap: 20px; /* Espaçamento entre as habilidades */
    }
    
    .skill {

    }
    
    .skill img {
        max-width: 100px;
        max-height: 100px;
    }
    
    
    #Projetos{
        background-color: rgb(27, 5, 27);
        padding-top: 10%;
        padding-bottom: 5%;
    }
    #Projetos h1{
        background-color: rgb(27, 5, 27);
        color: white;
        margin-left: 17%;
        margin-bottom: 2%;
    }
    .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.slide-list {
    display: flex;
}

.slide-item {
    cursor: grab;
    flex-shrink: 0;
    padding: 0 10px;
    width: 90vw;
}

.slide-content {
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: #070707 0px 12px 12px;
    position: relative;
}

.slide-image {
    border-radius: 10px;
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}

.slide-description {
    border-radius: 10px;
    background: linear-gradient(to top, #000, transparent);
    color: #fff;
    position: absolute;
    padding: 30px;
    bottom: 0;
    width: 100%;
}
.slide-description h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

.slide-description p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

.slide-nav-button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 36px;
    position: absolute;
    z-index: 1;
}

.slide-nav-previous {
    left: 20px;
}

.slide-nav-next {
    right: 20px;
}

.slide-controls {
    margin: 30px auto 0;
}

.slide-control-button {
    color: #fff;
    cursor: pointer;
    background: transparent;
    font-size: 18px;
    margin: 0 5px;
}

.slide-control-button.active {
    color: #cd8cf5;
}

@media screen and (max-width: 768px) {
    .slide-description {
        padding: 10px;
    }
    
    .slide-description h3 {
        font-size: 24px;
        top: 0;
    }

    .slide-description p {
        display: none;
    }

    .slide-nav-button {
        margin-top: -20px;
        font-size: 28px;
    }
    
    .slide-nav-previous {
        left: 10px;
    }
    
    .slide-nav-next {
        right: 10px;
    }

    .slide-controls {
        margin: 15px auto 0;
    }

    .slide-control-button {
        font-size: 14px;
    }
}
@keyframes rotateSlow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
